.block {
    background-color: #0e2149;
}

.link {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.input {
    font-weight: 400;
    font-size: 13px;
    color: white;
    padding: 21px;
    width: 348px;
    background-color: #253b6a;
    border: none;
    margin-right: 30px;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
