.footer_top {
    background-image: url(../../assets/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 42px;
    padding-bottom: 32px;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    font-weight: 700;
    font-size: 42px;
    color: white;
    margin-bottom: 28px;
}

.text {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: white;
    width: 268px;
}

.form {
    display: flex;
    gap: 11px;
}

.fullname {
    width: 288px;
    margin-bottom: 13px;
}

.phone {
    width: 288px;
}

.name {
    width: 100%;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #b8c1ca;
    padding: 15px 0px 14px 0px;
}

.comment {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #b8c1ca;
    padding: 15px 152px 70px 19px;
}

.des {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: white;
    margin-top: 15px;
}

.btn {
    padding: 12px 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: white;
    background-color: #d79f43;
    margin-top: 18px;
}

.first_block {
    width: 219px;
}

.firstItem {
    margin-bottom: 10px;
}

.firstLinkk {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: var(--0e2149);
}

.firstLink {
    font-weight: 400;
    font-size: 15px;
    color: var(--0e2149);
}

.MainBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0 25px 0;
}

.link {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--0e2149);
}

.contacts {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: var(--0e2149);
}

.contactBlock {
    display: flex;
    align-items: center;
    gap: 189px;
    margin-bottom: 44px;
}

.hr {
    background-color: 1px solid var(--b8c1ca);
}

.footerText {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--0e2149);
}

.FooterBlock {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    gap: 12px;
    align-items: center;
}

.lastText {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    text-align: right;
    color: var(--0e2149);
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
